@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

body {
    width: 100vw;
    height: 100vh;
    background-image: url(/Github/drum-machine/img/drum-bg.jpg);
    background-size: cover;
    align-items: center;
}

#box {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-family: 'Bowlby One SC', cursive;
}

#title {
    font-family: 'Bowlby One SC', cursive;
    font-size: 5em;
}